body {
    background-color: rgb(119, 187, 233);
    color: rgb(73, 73, 73);
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    color: rgb(73, 73, 73);
}

input {
    height: 20px;
}
